@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 25px;
}

.navbar-filler {
  height: 100px;
}

.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 100px; */
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.navbar-main-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-links-container {
  background-color: #e0e0e0;
}

.navbar-img {
  height: 70px;
}

.navbar-link {
  text-decoration: none;
  color: #005f99;
  font-size: 25px;
}

.hero {
  /* width: 80%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-main-container {
  width: 80%;
}

.section-heading {
  color: #ec6205;
  font-size: 4vw;
  line-height: 120%;
  margin-bottom: 40px;
  margin-top: 50px;
}

.hero-subheading {
  font-size: 200%;
  line-height: 41px;
  color: #005f99;
  margin-bottom: 48px;
  width: 70%;
}

.hero-btn {
  all: unset;
  background-color: #ffc300;
  height: 71px;
  width: 252px;
  border-radius: 5px;
  text-align: center;
  font-size: 34px;
}

.hero-img {
  /* height: 80vh; */
  /* margin-right: 3vh; */
}

.hero-left-side {
  /* width: 10%; */
}

/* .about-us {
    width: 100%;
    height: min-content;
} */

.about-us-right-side .section-heading {
  margin-top: 10px;
}

.about-us-img {
  /* border-radius: 10px; */
  /* margin-top: 10vh; */
  width: 500px;
  /* height: 100%; */
  margin: auto;
}

.about-us-container {
  margin: 10vh auto;
  width: 80%;
  /* height: 50vh; */
}

.about-us-right-side {
  /* margin-right: 10vw; */
  /* width: 105%; */
  height: 100%;
}

.about-us-subheading {
  font-size: 34px;
  margin-bottom: 3vh;
}

/* .objective {
  width: 100%;
  height: 40vh;
} */

.objective-container {
  margin: 10vh auto 0;
  width: 80%;
  /* height: auto; */
  flex-wrap: wrap;
}

.objective-left-side {
  height: 100%;
}

.objective-img {
  width: 500px;
  /* height: 100%; */
  /* margin-right: 10vw;
  margin-top: -1vh; */
  margin: auto;
}

.objective-content {
  margin-bottom: 60px;
}

.objective-subheading {
  color: #009d7e;
  font-size: 40px;
  margin-bottom: 30px;
}

.incharge-message-container {
  width: 80%;
  margin: 120px auto;
}

.incharge-message-right-side {
  /* width: 40%; */
  /* margin: 1vh auto; */
  /* height: 100%; */
}

.incharge-message-heading {
  font-size: 34px;
  margin-bottom: 2vh;
  margin-top: 20px;
  line-height: 34px;
}

.meet-our-mentors {
  background-color: #d9d9d9;
  height: min-content;
}

.meet-our-mentors-container {
  height: min-content;
  width: 80%;
}

.meet-our-mentors-container .section-heading {
  background-color: none;
}

.mentor-card {
  /* height: 70vh; */
  /* width: 25vw; */
  /* width: 490px; */
  padding: 23px 34px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.mentor-card ul {
  list-style-type: disc;
  font-size: 18px;
  color: #484848;
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
}

.mentor-image {
  width: 200px;
  height: 250px;
}

.mentor-social-icons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.mentor-social-icon {
  width: 20%;
}

.mentor-name {
  color: #005f99;
  font-size: 30px;
  padding: 20px 0;
  margin: auto 0;
}

.mentor-card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.impact {
  height: min-content;
}

.impact-container {
  margin: auto;
  width: 80%;
  height: min-content;
  text-align: center;
}

.impact-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.impact-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 2% 5%;
}

.impact-img-container {
  position: relative;
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.impact-img-background {
  position: absolute;
  background-color: #d9d9d9;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.impact-img {
  z-index: 1;
  height: 150px;
  width: 150px;
}

.impact-card-heading {
  font-size: 30px;
  margin-top: 40px;
  color: #005f99;
}

.our-startups {
  background-color: #d9d9d9;
  height: min-content;
}

.our-startups-container {
  height: min-content;
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 1px 0 20px;
}

.startups-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.startup-logo {
  width: 300px;
  padding: 20px;
}

.testimonials {
  padding: 20px;
}

.testimonial-card {
  height: 400px;
  border-radius: 5%;
  transform: scale(0.8, 0.8);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide__pagination__page {
  background: #000;
}

.splide__pagination__page.is-active {
  background: rgb(111, 111, 111);
}

@media screen and (min-width: 1024px) {
  .mentor-card {
    width: 25vw;
  }
  .about-us-img {
    padding-right: 50px;
  }
  .incharge-message-img {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .mentor-image {
    margin: auto;
  }
  .section-heading {
    font-size: 10vw;
    margin-bottom: 20px;
  }
  .hero-subheading {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .objective-subheading {
    margin-bottom: 20px;
  }
  .about-us-right-side .section-heading {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .mentor-image {
    margin: auto;
  }
  .mentor-card {
    padding: 20px 20px;
  }
  .mentor-card-container {
    width: 80vw;
  }
  .section-heading {
    font-size: 10vw;
    margin-bottom: 20px;
  }
  .hero-subheading {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .objective-subheading {
    margin-bottom: 20px;
  }
  .about-us-right-side .section-heading {
    margin-top: 50px;
  }
  .impact-card {
    width: 90%;
  }
}
