<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to C.R.E.A.T.E.</title>
    <link
      rel="stylesheet"
      href="../node_modules/tw-elements/dist/css/index.min.css" />
    <link rel="stylesheet" href="../node_modules/@splidejs/splide/dist/css/splide.min.css">
    <link rel="stylesheet" href="../dist/output.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar-filler"></div>
    <nav
      class="main-navbar navbar navbar-expand-lg justify-center h-max py-2.5">
      <div class="navbar-main-container justify-evenly mx-auto">
        <img
          src="../static/C.R.E.A.T.E  FINAL ICON.svg"
          alt=""
          class="navbar-img" />
        <!-- class="navbar-links-container flex flex-grow collapse navbar-collapse items-center justify-center" -->
        <div
          class="navbar-links-container flex flex-grow collapse navbar-collapse items-center justify-center"
          id="navbarSupportedContent">
          <ul
            class="navbar-nav list-style-none flex flex-col w-full ml-auto justify-evenly h-full">
            <li class="nav-item mx-auto p-2">
              <a href="" class="navbar-link">Objective</a>
            </li>
            <li class="nav-item mx-auto p-2">
              <a href="" class="navbar-link">Mentors</a>
            </li>
            <li class="nav-item mx-auto p-2">
              <a href="" class="navbar-link">Startups</a>
            </li>
            <li class="nav-item mx-auto p-2">
              <a href="" class="navbar-link">Contact Us</a>
            </li>
          </ul>
        </div>
        <button
          class="navbar-toggler border-0 py-2 px-2.5 ml-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="bars"
            class="w-6"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
          </svg>
        </button>
      </div>
    </nav>
    <!-- hero-section -->
    <div class="hero">
      <div class="hero-main-container grid grid-cols-6">
        <div class="hero-left-side lg:col-span-3 col-span-6">
          <p class="section-heading">WE PREPARE STARTUPS FOR ACCELERATORS</p>
          <p class="hero-subheading mb-[48px]">
            Are You Ready For Self Publishing Done Your Way?
          </p>
          <button class="hero-btn">Find How</button>
        </div>
        <img
          src="../static/How-to-nurture-innovation 1.png"
          alt=""
          class="hero-img lg:col-span-3 col-span-6 mx-auto" />
      </div>
    </div>
    <!-- About Us section -->
    <div class="about-us-container grid grid-cols-6">
      <img
        src="../static/IMG20220523182023 1.png"
        alt=""
        class="about-us-img lg:col-span-3 col-span-6 mx-auto" />

      <div class="about-us-right-side col-span-6 lg:col-span-3">
        <p class="section-heading">About Us</p>
        <div class="about-us-content">
          <p class="about-us-subheading">IIIT Lucknow</p>
          <p>
            IIIT Lucknow established its incubation “Centre for innovation,
            incubation and Entrepreneurship, IIIT Lucknow” in 2021 to promote
            research and incubation activities, seminars, conferences, workshops
            for start-up companies/entrepreneurs and many more for effective
            entrepreneurship.<br /><br />
            The cell is dedicated to promote growing entrepreneurs and serve as
            an effective pillar towards building up and supporting avant-garde
            start-ups.<br /><br />
            In doing so, IIIT Lucknow signed an MOU with SIIC, IIT Kanpur to
            facilitate collaboration and promote start-ups. We also collaborated
            with industry experts to offer mentorship to our start-ups.
          </p>
        </div>
      </div>
    </div>
    <!-- Objective -->
    <div class="objective-container grid grid-cols-6">
      <div class="objective-left-side lg:col-span-3 col-span-6">
        <div class="objective-content">
          <p class="objective-subheading">OUR MISSION</p>
          <p>
            To create entrepreneurial opportunities for students, faculty and
            researchers and to nurture technology and knowledge based ventures
            through their start-up phase by providing the necessary support
          </p>
        </div>
        <div class="objective-content">
          <p class="objective-subheading">OUR VISION</p>
          <p>
            To be a center of excellence that fosters synergy between the
            academia and the industry that fuels entrepreneurial spirit and
            inculcates research bent of mind among students to help them to be
            self reliant and contribute to the nation building.
          </p>
        </div>
        <div class="objective-content">
          <p class="objective-subheading">OUR GOAL</p>
          <p>
            Our goal is to help create and grow young businesses by providing
            them with necessary support and financial and technical services.
          </p>
        </div>
      </div>
      <div class="lg:col-span-3 col-span-4 col-start-2">
        <img
          src="../static/C.R.E.A.T.E  FINAL LOGO.svg"
          alt=""
          class="objective-img" />
      </div>
    </div>
    <!-- Incharge's Message -->
    <div class="incharge-message-container grid grid-cols-6">
      <img
        src="../static/mentor-5 1.png"
        alt=""
        class="incharge-message-img lg:col-span-3 col-span-6 mx-auto" />
      <div class="incharge-message-right-side lg:col-span-3 col-span-6">
        <p class="incharge-message-heading">INCHARGE'S MESSAGE</p>
        <p class="incharge-message-content">
          Incubation Center, IIIT Lucknow is a platform for young entrepreneurs
          who are passionate to create and innovate. The objective is to
          cultivate and enrich the spirit of entrepreneurship among students to
          build up profitable and sustainable businesses with novel ideas and
          practices. This center provides mentorship, infrastructure, network
          and finance to nurture entrepreneurial initiatives of the students and
          take the innovation ecosystem to greater heights.
        </p>
      </div>
    </div>
    <div class="meet-our-mentors flex justify-center">
      <div class="meet-our-mentors-container py-10">
        <p class="section-heading text-center">Meet Our Mentors</p>
        <div class="mentor-card-container">
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="impact">
      <div class="impact-container">
        <div class="section-heading">IMPACT</div>
        <div class="impact-card-container">
          <div class="impact-card">
            <div class="impact-img-container">
              <div class="impact-img-background"></div>
              <img
                src="../static/VectorImpactIconStartups.svg"
                alt=""
                class="impact-img" />
            </div>
            <div class="impact-card-heading">STARTUPS</div>
          </div>
          <div class="impact-card">
            <div class="impact-img-container">
              <div class="impact-img-background"></div>
              <img
                src="../static/VectorImpactIconStartups.svg"
                alt=""
                class="impact-img" />
            </div>
            <div class="impact-card-heading">STARTUPS</div>
          </div>
          <div class="impact-card">
            <div class="impact-img-container">
              <div class="impact-img-background"></div>
              <img
                src="../static/VectorImpactIconStartups.svg"
                alt=""
                class="impact-img" />
            </div>
            <div class="impact-card-heading">STARTUPS</div>
          </div>
          <div class="impact-card">
            <div class="impact-img-container">
              <div class="impact-img-background"></div>
              <img
                src="../static/VectorImpactIconStartups.svg"
                alt=""
                class="impact-img" />
            </div>
            <div class="impact-card-heading">STARTUPS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="our-startups">
      <div class="our-startups-container">
        <div class="section-heading">Our Startups</div>
        <div class="startups-flex">
          <img src="../static/StartupLogo.png" alt="" class="startup-logo" />
          <img src="../static/StartupLogo.png" alt="" class="startup-logo" />
          <img src="../static/StartupLogo.png" alt="" class="startup-logo" />
        </div>
      </div>
    </div>
    <div class="testimonials">
      <div class="testimonials-container">
        <section class="splide" aria-label="Basic Structure Example">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="testimonial-card">
                  Slide 01
                </div>
              </li>
              <li class="splide__slide">
                <div class="testimonial-card">
                  Slide 02
                </div>
              </li>
              <li class="splide__slide">
                <div class="testimonial-card">
                  Slide 03
                </div>
              </li>
              <li class="splide__slide">
                <div class="testimonial-card">
                  Slide 04
                </div>
              </li>
              <li class="splide__slide">
                <div class="testimonial-card">
                  Slide 05
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <script src="../node_modules/tw-elements/dist/js/index.min.js"></script>
    <script src="../node_modules/@splidejs/splide/dist/js/splide.js"></script>
    <script>
      var splide = new Splide(".splide", {
        perPage: 3,
        focus: 'center',
      });

      splide.mount();
    </script>
  </body>
</html>