<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to C.R.E.A.T.E.</title>
    <link rel="stylesheet" href="../static/index.css" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar-filler"></div>
    <nav class="main-navbar">
      <div class="navbar-main-container">
        <img
          src="../static/Incubation-Center-logo-colour-logo-1 1.png"
          alt=""
        />
        <div class="navbar-links-container">
          <a href="" class="navbar-link">Objective</a>
          <a href="" class="navbar-link">Mentors</a>
          <a href="" class="navbar-link">Startups</a>
          <a href="" class="navbar-link">Contact Us</a>
        </div>
      </div>
    </nav>
    <!-- hero-section -->
    <div class="hero">
      <div class="hero-main-container">
        <div class="hero-left-side">
          <p class="section-heading">WE PREPARE STARTUPS FOR ACCELERATORS</p>

          <p class="hero-subheading">
            Are You Ready For Self Publishing Done Your Way?
          </p>
          <button class="hero-btn">Find How</button>
        </div>
        <img
          src="../static/How-to-nurture-innovation 1.png"
          alt=""
          class="hero-img"
        />
      </div>
    </div>
    <!-- About Us section -->
      <div class="about-us-container">
        <img
          src="../static/IMG20220523182023 1.png"
          alt=""
          class="about-us-img"
        />
        <div class="about-us-right-side">
          <p class="section-heading">About Us</p>
          <div class="about-us-content">
            <p class="about-us-subheading">IIIT Lucknow</p>
            <p>
              IIIT Lucknow established its incubation “Centre for innovation,
              incubation and Entrepreneurship, IIIT Lucknow” in 2021 to promote
              research and incubation activities, seminars, conferences,
              workshops for start-up companies/entrepreneurs and many more for
              effective entrepreneurship.<br /><br />
              The cell is dedicated to promote growing entrepreneurs and serve
              as an effective pillar towards building up and supporting
              avant-garde start-ups.<br /><br />
              In doing so, IIIT Lucknow signed an MOU with SIIC, IIT Kanpur to
              facilitate collaboration and promote start-ups. We also
              collaborated with industry experts to offer mentorship to our
              start-ups.
            </p>
          </div>
        </div>
      </div>
    <!-- Objective -->
      <div class="objective-container">
        <div class="objective-left-side">
          <div class="objective-content">
            <p class="objective-subheading">OUR MISSION</p>
            <p>
              To create entrepreneurial opportunities for students, faculty and
              researchers and to nurture technology and knowledge based ventures
              through their start-up phase by providing the necessary support
            </p>
          </div>
          <div class="objective-content">
            <p class="objective-subheading">OUR VISION</p>
            <p>
              To be a center of excellence that fosters synergy between the
              academia and the industry that fuels entrepreneurial spirit and
              inculcates research bent of mind among students to help them to be
              self reliant and contribute to the nation building.
            </p>
          </div>
          <div class="objective-content">
            <p class="objective-subheading">OUR GOAL</p>
            <p>
              Our goal is to help create and grow young businesses by providing
              them with necessary support and financial and technical services.
            </p>
          </div>
        </div>
        <img src="../static/C.R.E.A.T 1.png" alt="" class="objective-img" />
      </div>
  </body>
</html>
