<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to C.R.E.A.T.E.</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" defer />
    <link
      rel="stylesheet"
      href="../node_modules/tw-elements/dist/css/index.min.css"
    />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="../dist/output.css" />
    <link rel="stylesheet" href="kool.css">
  </head>
  <body>
    <!-- Navbar -->
    <div class="wrap">
      <!-- Header -->
      <header>
         <div class="container">
             <a href="/" class="brand">
              <img
              src="../static/C.R.E.A.T.E  FINAL ICON.svg"
              alt=""
              class="navbar-img"
            />
             </a>
             <ul class="menu" id="menu">
                 <li class="menu-item">
                     <a href="/">
                         <i class="fas fa-home"></i>Home
                     </a>
                 </li>
                 <li class="menu-item">
                     <a href="#About">
                         <i class="fas fa-info-circle"></i>About
                     </a>
                 </li>
                 <li class="menu-item">
                     <a href="/services">
                         <i class="fas fa-tasks"></i>Services
                     </a>
                 </li>
                 <li class="menu-item">
                     <a href="/products">
                         <i class="fas fa-layer-group"></i>Subs
                     </a>
                 </li>
                 <li class="menu-item">
                     <a href="#Contact">
                         <i class="fas fa-envelope"></i>Contact
                     </a>
                 </li>
             </ul>

             <div class="burger" id="burger" onclick="toggleMobile()">
                 <i class="fas fa-bars" id="menu-icon"></i>
             </div>
             
         </div>
     </header>
     <div class="development">
         <h4>/C.R.E.A.T.E.-website
             <a href="#About">About Page.
             </a>
         </h4>
     </div>
 </div>
    <!-- hero-section -->
    <div class="hero">
      <div class="hero-main-container grid grid-cols-6">
        <div class="hero-left-side lg:col-span-3 col-span-6">
          <p class="section-heading">WE PREPARE STARTUPS FOR ACCELERATORS</p>
          <p class="hero-subheading mb-[48px]">
            Are You Ready For Self Publishing Done Your Way?
          </p>
          <button class="hero-btn">Find How</button>
        </div>
        <img
          src="../static/How-to-nurture-innovation 1.png"
          alt=""
          class="hero-img lg:col-span-3 col-span-6 mx-auto"
        />
      </div>
    </div>
    <!-- About Us section -->
    <div class="about-us-container grid grid-cols-6">
      <img
        src="../static/IMG20220523182023 1.png"
        alt=""
        class="about-us-img lg:col-span-3 col-span-6 mx-auto"
      />
      <div  class="about-us-right-side col-span-6 lg:col-span-3">
        <div><a id="About"></a></div>
        <p class="section-heading">About Us</p>
        <div class="about-us-content">
          <p class="about-us-subheading">IIIT Lucknow</p>
          <p>
            IIIT Lucknow established its incubation “Centre for innovation,
            incubation and Entrepreneurship, IIIT Lucknow” in 2021 to promote
            research and incubation activities, seminars, conferences, workshops
            for start-up companies/entrepreneurs and many more for effective
            entrepreneurship.<br /><br />
            The cell is dedicated to promote growing entrepreneurs and serve as
            an effective pillar towards building up and supporting avant-garde
            start-ups.<br /><br />
            In doing so, IIIT Lucknow signed an MOU with SIIC, IIT Kanpur to
            facilitate collaboration and promote start-ups. We also collaborated
            with industry experts to offer mentorship to our start-ups.
          </p>
        </div>
      </div>
    </div>
    <!-- Objective -->
    <div class="objective-container grid grid-cols-6">
      <div class="objective-left-side lg:col-span-3 col-span-6">
        <div class="objective-content">
          <p class="objective-subheading">OUR MISSION</p>
          <p>
            To create entrepreneurial opportunities for students, faculty and
            researchers and to nurture technology and knowledge based ventures
            through their start-up phase by providing the necessary support
          </p>
        </div>
        <div class="objective-content">
          <p class="objective-subheading">OUR VISION</p>
          <p>
            To be a center of excellence that fosters synergy between the
            academia and the industry that fuels entrepreneurial spirit and
            inculcates research bent of mind among students to help them to be
            self reliant and contribute to the nation building.
          </p>
        </div>
        <div class="objective-content">
          <p class="objective-subheading">OUR GOAL</p>
          <p>
            Our goal is to help create and grow young businesses by providing
            them with necessary support and financial and technical services.
          </p>
        </div>
      </div>
      <div class="lg:col-span-3 col-span-4 col-start-2">
        <img
          src="../static/C.R.E.A.T.E  FINAL LOGO.svg"
          alt=""
          class="objective-img"
        />
      </div>
    </div>
    <!-- Incharge's Message -->
    <div class="incharge-message-container grid grid-cols-6">
      <img
        src="../static/mentor-5 1.png"
        alt=""
        class="incharge-message-img lg:col-span-3 col-span-6 mx-auto"
      />
      <div class="incharge-message-right-side lg:col-span-3 col-span-6">
        <p class="incharge-message-heading">INCHARGE'S MESSAGE</p>
        <p class="incharge-message-content">
          Incubation Center, IIIT Lucknow is a platform for young entrepreneurs
          who are passionate to create and innovate. The objective is to
          cultivate and enrich the spirit of entrepreneurship among students to
          build up profitable and sustainable businesses with novel ideas and
          practices. This center provides mentorship, infrastructure, network
          and finance to nurture entrepreneurial initiatives of the students and
          take the innovation ecosystem to greater heights.
        </p>
      </div>
    </div>
    <div class="meet-our-mentors flex justify-center">
      <div class="meet-our-mentors-container py-10">
        <p class="section-heading text-center">Meet Our Mentors</p>
        <div class="card-container">
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
          <div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div><div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div><div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div><div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div><div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div><div class="mentor-card my-10 flex">
            <img src="../static/Mr 1.png" alt="" class="mentor-image" />
            <p class="mentor-name">Dr. Ranjan Kumar</p>
            <ul>
              <li>
                PhD, IIM Lucknow, thesis defense pending, Area: Communication
              </li>
              <li>PGDM, IIM Lucknow, 2003, Major: Marketing Strategy</li>
              <li>Visiting Faculty and SME at NMIMS and upGrad</li>
              <li>Head, Strategy, Corp Comm & CSR, V-Mart Retail</li>
            </ul>
            <div class="mentor-social-icons">
              <a href="#" class="mentor-social-icon"
                ><img src="../static/linkedin.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/facebook.svg" alt=""
              /></a>
              <a href="#" class="mentor-social-icon"
                ><img src="../static/instagram.svg" alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../node_modules/tw-elements/dist/js/index.min.js"></script> -->

    <script>
      const toggleMobile = () => {
	let menu = document.getElementById("menu");
	let menuIcon = document.getElementById("menu-icon");

	if (menuIcon.classList.contains("fa-bars")) {
		menuIcon.classList.remove("fa-bars");
		menuIcon.classList.add("fa-times");
		menu.classList.add("mobile-menu");
	} else {
		menuIcon.classList.remove("fa-times");
		menuIcon.classList.add("fa-bars");
		menu.classList.remove("mobile-menu");
	}
};

    </script>
  </body>
  <body class="body">
    <footer class="footer_main">

        <div class="footer-left">
 
        <h3>The world of code</h3>
 
        <p class="footer-links">
        <a href="#">Home</a>
    ·
        <a href="#About">About us</a>
    ·
        <a href="#">Faq</a>
        </p>
 
        <p class="footer-company-name">The world of code &copy; 2019</p>
        </div>
 
        <div class="footer-center">
 
        <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Bakers Street</span> London, UK</p>
        </div>
 
        <div>
          <div><a id="Contact"></a></div>
        <i class="fa fa-phone"></i>
        <p>+56 9987 987654</p>
        </div>
 
        <div>
        <i class="fa fa-envelope"></i>
        <p><a href="#">theworldofcodekk.com</a></p>
        </div>
 
        </div>
 
        <div class="footer-right">
 
        <p class="footer-company-about">
        <span>About the company</span>
   Welcome to the world of opensource contribution
        </p>
 
        <div class="footer-icons">
 
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
 
        </div>
 
        </div>
 
        </footer>
</body>
</html>
